<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Next Round</title>
  <link rel="stylesheet" href="">
</head>
<body>
<h1><%= user.username %>, <%= header %></h1>
<h4> Your saved beers show here </h4>

<% for (let i = 0; i < fav.length; i++) { %>
  <p> <%= fav[i].beerName %> </p>
<% } %>

<h2><a href="/search">Search More Beers</a></h2>

</body>
</html>
