<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Next Roung</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <h1>Get Your Beer On!</h1>
    <form class="login-form" action="/auth" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password">
        <input type="submit" name="name" value="Log in">
    </form>


</body>
</html>
