<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Next Round - Sign up</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
  </head>
  <body>
    <div class="container_signup">
      <h1>Sign Up </h1>
      <h2>Stop wondering what that beer is what,<br><span class="find"> Find out for yourself!</span><br>Sign up now to search and discover new beers!</h2>
      <form class="signup-form" action="/users" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password">
        <br><input  class="signup_button" type="submit" value="Sign up">
    </form>
  </div>
  </body>
</html>
