<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Next Round</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- link css -->
</head>
<body>
<header>
  <h1><%= header %></h1>
  <h2>
    Drink responsibly !
  </h2>
</header>

<main>
<button>
<a href="/signup">Sign Up</a>
</button>

<button>

<a href="/login">Log In</a>
</button>

</main>

</body>
</html>
